In [1]:
from collections import defaultdict
from datetime import datetime
from loguru import logger
import pandas as pd
import re

In [ ]:
# Caution, "diagnose=True" is the default and may leak sensitive data in prod
logger.add("out.log", backtrace=True, diagnose=True)

def func(a, b):
    return a / b

def nested(c):
    try:
        func(5, c)
    except ZeroDivisionError:
        logger.exception("What?!")

nested(0)

In [1]:
m = 3
n = 4

In [2]:
dp = [[0] * n for _ in range(m)]
dp

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [4]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
df

   a   b     c
0  1   2   NaN
1  5  10  20.0